<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Principal</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='../public/css/estilo.css'>
        <!-- <script src='main.js'></script> -->
    </head>
    <body>
        <header><h1>LOGO</h1></header>
        <nav>
            <menu>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Form</a></li>
                    <li><a href="">CEP</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </menu>
        </nav> 
        <main>
            <article>

            </article>
        </main>
    </body>
</html>